<div class="row">
    <div class="col-sm-8 col-md-8-border">
        <h3>{{ title }}</h3>
        <hr>
        {{ content | raw }}
    </div>
    <div class="col-sm-3 col-registration-selection">
        <dl>
            <dt>
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>У вас нет аккаунта?
            </dt>
            <dd>
                <a href="/registration/">Регистрация</a>
            </dd>
        </dl>
    </div>
</div>